body {
    background-color: #232323;
}
#mainrow
{
    position: absolute;
    top: 7em;
    color : white;
}

#mainText h2
{
    
    font-size: 2.5em;
    color:white;
    color: whitesmoke;
}

#mainText p code
{
    display: block;
    text-align: left;
    clear: both;
    width: 25m;
    background: transparent;
    padding-top: 25px;
    font-size: 1.8em;
    font-family: Segoe UI;
    padding-left: 35px;
    color: white;
}

#EnterButton
{
    background: #01B584;
    transform: scale(2.2);
    font-weight: bold;
    border-radius: 5px 5px 5px 0px;
    border-width: 0;
}

#features
{
    margin-top : 50px;
    list-style: none;
    color: white;
   
}
#features ul {

    padding: 20px 150px;
    
}
#features img{
    position: relative;
    top: -60px;
    margin-bottom: 0px;

}
#features li{
    height: 100px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.701);
    margin: 0px;
    display: flex;
    list-style-type: none;
    margin-top: 100px;
    margin-bottom: 100px;
}
.img-title img
{
    width: 200px;
    height: 200px;
}

.img-title h1,h2,h3,p{
    display: inline;
}

.text-box
{
    margin: 20px;
}

#EnterButton:hover
{
    background-color : rgb(1, 168, 124);
}

box
{
    position: relative;
    top: -30px;
    padding: 50px;
    background-color: #01B584;
    width : 250px;
    height: 180px;
    text-align: center;
}

#thumbnail{
    position: fixed;
    
   
    z-index: 1;
}

.imgFade
{
    -webkit-animation-name: imgf;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration:2.5s;
    -webkit-animation-fill-mode: forwards;
    
}

@-webkit-keyframes imgf{
    0%
    {
        opacity: 100%;
        top : 0px;
    }
    100%
    {
        opacity: 0;
        top : -800px;
    }
}
